.toggle-switch-container {
    display: flex;
    align-items: center;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: 48px;
    height: 24px;
    background-color: #eb4d4d;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.2s ease-in;
}

.toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.toggle-switch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s;
}

.toggle-switch-checkbox:checked+.toggle-switch-label {
    background-color: #065574;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-switch {
    right: 3px;
}

.toggle-switch-text-label {
    margin-left: 8px;
    font-size: 14px;
    color: #333;
}